/*common styles*/
html{
    font-size: 62.5%; /*10/16 = 0.625*100*/
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    
}

/*end of common styles*/
/*navbar*/
/*sidebar*/
.sidebar{
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed; /*always visible*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon{
    margin-top: 3rem;
    cursor: pointer;
}

.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3{
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icons-list{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color: #015668;
    transition: color .3s;
}

.social-link:hover{
    color: #ff9900;
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #015668;
}
/*end of sidebar*/

/*navigation*/
.navigation{
    left: -38rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background-color: #eee;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .4s cubic-bezier(1, 1, 1, 1);
    z-index: 12;
}

.navigation-heading{
    text-align: center;
    color: #015668;
    font-size: 3rem;
    letter-spacing: .8rem;
    margin-top: 5rem;
    font-weight: 300;
}

.navigation-search{
    position: relative
}

.navigation-search-input{
    width: 28rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0.1rem #ff9900 solid;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    background-color: rgba(255, 153, 0, 0.2);
    color: #015668;
    padding-left: 1rem;
    transition: background-color .3s;
    outline: none;
}

.navigation-search-input:focus{
    background-color: rgba(1, 48, 58, 0.9);
    border: #015668;
    color: white;
}

.navigation-search-btn{
    background-color: transparent;
    border: none;
    color: #015668;
    position: absolute;
    right: 0.5rem;
    top: 0.9rem;
}

/*end navigation*/

.navigation-list{
    padding: 0;
    width: 38rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -4rem;
}
.navigation-item{
    list-style: none;
    position: relative;
}

.navigation-link{
    text-decoration: none;
    color:#015668;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .3s;
}

.navigation-link::before{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #ff9900;
    position: absolute;
    top: 1.2rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #ffd369;
    position: absolute;
    top: 1.2rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover::before,
.navigation-link:hover::after{
    width: 3rem;
}

.navigation-link:hover{
    color: #ff9900;
}

.copyright{
    font-size: 1.2rem;
    color: #ff9900;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg) translate(-5px, 6px);
}

.checkbox:checked ~ .sidebar .line-2{
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3{
    transform: rotate(405deg) translate(-5px, -6px);
}
/*end of navbar*/

/*header*/
.header{
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(211, 211, 211, 0.7), rgba(219, 219, 219, 0.4)), url("../img/christin-hume-0MoF-Fe0w0A-unsplash.jpg") no-repeat center;
    background-size: cover;
}

.brand{
    display: flex;
    cursor: pointer;
    margin-left: 2rem;
}

.website-heading{
    font-size: 2rem;
    letter-spacing: .4rem;
    font-weight: 500;
    color: #eee;
    margin-left: .1rem;
    padding: 0;
    margin-top: 1rem;

}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
}

.banner-heading{
    color: #ff9900;
    font-weight: 800;
    font-size: 7rem;
    letter-spacing: .4rem;
    margin-bottom: 0;
    animation: anim 4s 0.3s backwards;
}

.banner-paragraph{
    color: #015668;
    font-size: 4rem;
    letter-spacing: .2rem;
    margin-top: 0;
    animation: anim 3s 1s backwards;
}

.banner-btn{
    background-color: transparent;
    border: .1rem solid #015668;
    color: #015668;
    border-radius: 1rem;
    font-size: 3rem;
    padding: 0.5rem 3rem;
    animation: anim 3s 1.5s backwards;
}

.btn-arrow{
    margin-left: .2rem;
    transition: margin-left .5s;
}

.banner-btn:hover .btn-arrow{
    margin-left: 2rem;
}

.banner-btn:hover{
    background-color: #ff9900;
    color: #eee;
    border: none;
}

.banner-btn:active{
    transform: translatex(.2rem)
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*end of header*/

/*section about-us*/

.about-us{
    margin-left: 8rem;
    display: flex;
    height: 73rem;
}

.about-heading{
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73rem;
    transition: all 1s ease-out;
}

.about-heading:hover{
    background: linear-gradient(to top, rgba(226, 226, 226, 0.8), rgba(226, 226, 226, 0.9)), url("../img/about-us-4.jpg") no-repeat center;
    background-size: cover;
}

.about-more-btn{
    position: relative;
    display: initial;
    border: .1rem solid #015668;
    font-size: 2.3rem;
    background: transparent;
    padding: 0.5rem 2rem;
    color: #015668;
    letter-spacing: .2rem;
    border-radius: 2rem;
    top: 5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.about-more-btn:hover{
    background-color: #ff9900;
    color: #eee;
    border: .1rem solid #ff9900;
}

.line1{
    background-color: #ff9900;
    height: .1rem;
    z-index: -1;
}

.line-11{
    position: relative;
    bottom: 1rem;
    width: 10rem;  
}

.line-12{
    position: relative;
    bottom: -13rem;
    width: 28rem;
}

.line-13{
    position: relative;
    bottom: -26rem;
    width: 50rem;
}

.about-header{
    font-size: 4rem;
    color: #015668;
    letter-spacing: .2rem;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.about-sub-header{
    font-size: 3rem;
    color: #ff9900;
    letter-spacing: .2rem;
    font-weight: 300;
}

.about-paragraph{
    font-size: 2rem;
    color: #015668;
    font-weight: 300;
    text-align: center;
    padding: 0 6rem;
}

.about-images{
    flex: 1 1 50%;
    height: 73rem;
    position: relative;

}

.a-image{
    width: 50%;
    position: absolute;

}

.about-img-2{
    bottom: 17rem;
    left: 6rem;
}

.about-img-3{
    bottom: 2rem;
    z-index: -1;
    left: 31rem;
}

/*end section about-us*/

/*section products*/
.products{
    margin-left: 8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.products-heading{
    display:flex;
    justify-content: center;
}

.products-header{
    font-size: 4.5rem;
    color: #015668;
    letter-spacing: .2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
    font-weight: bolder;
}

#strong-pd{
    font-weight: lighter;
    color: #ff9900;
    letter-spacing: .3rem;
}

.products-images{
    display: flex;
    justify-content: space-around;
}
.product-image{
    width: 30rem;
    box-shadow: 1rem 1rem 1rem rgba(47, 57, 59, 0.5);
}

.product-descriptions{
    display: flex;
    justify-content: space-around;
}

.pdct-title{
    font-size: 3rem;
    color: #015668;
    text-align: center;
}

.pdct-special{
    font-size: 3.2rem;
    color: #ff9900;
    letter-spacing: .2rem;
}

.pdct-dec-header{
    width: 30rem;
}

.pdct-desc{
    font-size: 1.5rem;
    color: #015668;
    letter-spacing: .1rem;
    text-align: center;
}

.product-btn{
    border: .1rem solid #015668;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin-left: 10rem;
    color: #015668;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.product-btn:hover{
    color: #eee;
    border: .1rem solid #ff9900;
}

.product-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ff9900;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 40% 40%;
}
.product-btn:hover::before{
    height: 180%;
}

#product-btn{
    width: 20rem;
    margin-top: 5rem;
    margin-left: 60rem;
    font-size: 2rem;
}

/*section products end*/

/*section our process*/

.our-process{
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
}

.process{
    text-align: center;
}

.container-process-1{
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.sub-container{
    display: flex;
    margin-bottom: .5rem;
    position: relative;
}

.logo-center{
    position: absolute;
    color: rgba(255, 153, 0, 0.9);
    font-size: 14rem;
    top: 12rem;
    left: 50.5rem;
}

.pro-process{
    width: 50%;
}

.background-1,
.background-3{
    width: 60rem;
    height: 40rem;
}

.background-1{
    background: url("../img/process-1.jpg") no-repeat center;
    background-size: cover;
}

.background-3{
    background: url("../img/process-2.jpg") no-repeat center;
    background-size: cover;
}

.background-2,
.background-4{
    width: 86.5rem;
    height: 40rem;
}

.background-2{
    background: url("../img/process-3.jpg") no-repeat center;
    background-size: cover;
}

.background-4{
    background: url("../img/process-4.jpg") no-repeat center;
    background-size: cover;
}

.pro-1,
.pro-3{
    background-color: rgba(1, 86, 104, .7);
    width: 90rem;
}

.pro-2,
.pro-4{
    background-color: rgb(255, 153, 0, .7);
    width: 40%;
    height: 40rem;
}

.process-heading{
    font-size: 4rem;
    color: #015668;
    margin-left: 3rem;
    letter-spacing: .2rem;
    font-weight: 300;
}

.process-paragraph{
    font-size: 2rem;
    color: #eee;
    margin: 3rem;
    letter-spacing: .1rem;
    font-weight: 400;
    padding: 0 8rem;
}

/*end section out process*/


