/*common styles*/
html{
    font-size: 62.5%; /*10/16 = 0.625*100*/
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    
}

/*end of common styles*/
/*navbar*/
/*sidebar*/
.sidebar{
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed; /*always visible*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon{
    margin-top: 3rem;
    cursor: pointer;
}

.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3{
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icons-list{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color: #015668;
    transition: color .3s;
}

.social-link:hover{
    color: #ff9900;
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #015668;
}
/*end of sidebar*/

/*navigation*/
.navigation{
    left: -32rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 10, 12,1), rgba(0, 10, 12, .8)), url(../img/devin-avery-8lx5iVrkn5k-unsplash.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .4s cubic-bezier(1, 1, 1, 1);

}

.navigation-heading{
    text-align: center;
    color: #eee;
    font-size: 3rem;
    letter-spacing: .8rem;
    margin-top: 5rem;
    font-weight: 300;
}

.navigation-search{
    position: relative
}

.navigation-search-input{
    width: 28rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0.1rem #ff9900 solid;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    background-color: rgba(1, 48, 58, 0.5);
    color: #eee;
    padding-left: 1rem;
    transition: background-color .3s;
    outline: none;
}

.navigation-search-input:focus{
    background-color: rgba(1, 48, 58, 0.9);
}

.navigation-search-btn{
    background-color: transparent;
    border: none;
    color: #ff9900;
    position: absolute;
    right: 0.5rem;
    top: 0.9rem;
}

/*end navigation*/

.navigation-list{
    padding: 0;
    width: 38rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -4rem;
}
.navigation-item{
    list-style: none;
    position: relative;
}

.navigation-link{
    text-decoration: none;
    color: #eee;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .3s;
}

.navigation-link::before{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #ff9900;
    position: absolute;
    top: 1.2rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #ffd369;
    position: absolute;
    top: 1.2rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover::before,
.navigation-link:hover::after{
    width: 3rem;
}

.navigation-link:hover{
    color: #ff9900;
}

.copyright{
    font-size: 1.2rem;
    color: #ff9900;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg) translate(-5px, 6px);
}

.checkbox:checked ~ .sidebar .line-2{
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3{
    transform: rotate(405deg) translate(-5px, -6px);
}
/*end of navbar*/

/*header*/
.header{
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(211, 211, 211, 0.7), rgba(219, 219, 219, 0.4)), url("../img/christin-hume-0MoF-Fe0w0A-unsplash.jpg") no-repeat center;
    background-size: cover;
}

.brand{
    display: flex;
    cursor: pointer;
    margin-left: 2rem;
}

.website-heading{
    font-size: 3.8rem;
    letter-spacing: .8rem;
    font-weight: 500;
    color: #eee;
    margin-left: 1rem;
    margin-top: 1rem;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
}

.banner-heading{
    color: #ff9900;
    font-weight: 800;
    font-size: 7rem;
    letter-spacing: .4rem;
    margin-bottom: 0;
}

.banner-paragraph{
    color: #015668;
    font-size: 4rem;
    letter-spacing: .2rem;
    margin-top: 0;
}

.banner-btn{
    background-color: transparent;
    border: .1rem solid #015668;
    color: #015668;
    border-radius: 1rem;
    font-size: 3rem;
    padding: 0.5rem 3rem;
}

.banner-btn:hover{
    background-color: #ff9900;
    color: #eee;
    border: none;
}

.banner-btn:active{
    transform: translatex(.2rem)
}
/*end of header*/
